# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keys / creds
*.pem
*.key

# OS/IDE noise
.DS_Store
Thumbs.db
.vscode/
.idea/
